
<div class="jumbotron">
  <h1>Bienvenido a Servi</h1>
  <p class="lead">
    Aquí podrás encontrar todo tipo de servicios de una manera fácil, rápida y barata.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Buscar<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Siempre en linea</h4>
  <p>
    Hacemos todo lo posible por mantener nuestros servicios funcionales 24 horas 7 dias a la semana!
  </p>
  <div ng-repeat="usuario in usuarios track by usuario.id">
    {{usuario.id}}
    {{usuario.nombre}}
    {{usuario.appellido}}
  </div>
  <div ng-repeat="usuario in clientes track by usuario.id">
    {{usuario.id}}
    {{usuario.nombre}}
    {{usuario.apellido}}
  </div>

  <h4>Ganar , Ganar !</h4>
  <p>Servi funciona bajo un metodo que intenta hacer ganar tanto al que necesita un servicio como al que lo ofrece!</p>
</div>
